<div class="min-h-screen bg-gradient-to-r from-pink-100 to-pink-100 flex items-center justify-center font-sans px-4">
    <div class="flex ml-170 flex-col md:flex-row items-center gap-10 w-full max-w-6xl">
      
      
  
      <!-- Right section: Card -->
      <div class="bg-white rounded-lg shadow-lg w-full max-w-md">
        <div class="bg-cover bg-center h-32 rounded-t-lg" style="background-image: url('images/INF.jpg');"></div>
        <div class="p-6">
          <h2 class="text-xl font-semibold text-center mb-6">Quiz App</h2>
          <p class="text-lg font-medium mb-4 text-center">Where is the Eiffel Tower?</p>
          <div class="grid grid-cols-2 gap-4 mb-6">
            <button class="!bg-pink-900 !hover:bg-pink-900 text-white rounded-lg py-2 transition"> Italy</button>
                <button class="!bg-pink-900 !hover:bg-pink-700 text-white rounded-lg py-2 transition">Paris</button>
                    <button class="!bg-pink-900 !hover:bg-pink-700 text-white rounded-lg py-2 transition"> United States</button>
                        <button class="!bg-pink-900 !hover:bg-pink-700 text-white rounded-lg py-2 transition">China</button>
          </div>
          
          
          <div class="flex justify-between">
            <button class="!bg-pink-900 !hover:bg-pink-700 text-white rounded-lg py-2 transition">Skip</button>
          </div>
        </div>
      </div>
  
    </div>
  </div>
  