<div class="flex-1 bg-pink-100
min-h-screen flex items-center justify-center overflow-hidden">
    <div id="stars" class="fixed inset-0">
      <!-- Ici vous pourriez ajouter une animation d'étoiles avec CSS -->
    </div>
   
    <div class="relative z-10 text-center  flex-col items-center justify-center w-full px-4">
      <h1 class="text-5xl md:text-8xl font-bold text-white mb-4 space-animation">
        <span class="hh text-pink-900">Let's Quiz!</span>
      </h1>
      <p class="text-xl text-pink-700 mb-8">Every question is a new challenge!</p>
  
      <div class="hhhh max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-6 mt-4">
        <!-- Carte 1 -->
        <div class="w-full max-w-sm mx-auto h-full flex flex-col rounded-lg transform transition-transform hover:scale-105">
          <div class="relative top-6 pt-6 px-8 z-10">
            <img class="w-[10rem] h-[10rem] mx-auto object-cover rounded-full outline outline-[0.5rem] outline-pink-900 shadow-lg shadow-pink-100" 
                 src="images/CU.jpg" 
                 alt="Planet Selection" />
          </div>
          <div class="w-full flex flex-col gap-4 rounded-xl bg-white backdrop-blur-sm pt-16 px-6 pb-6 border border-pink-900">
            <h2 class="text-center text-pink-700 sm:text-xl text-2xl font-display">Culture Générale</h2>
            <div class="w-full flex justify-between gap-2 pt-2 pb-4">
              <button class="flex-1 py-2 px-2 bg-pink-900 hover:bg-pink-900 text-white rounded-lg transition-all font-medium text-sm sm:text-base shadow-md shadow-pink">Level 1</button>
              <button class="flex-1 py-2 px-2 bg-pink-900 hover:bg-pink-900 text-white rounded-lg transition-all font-medium text-sm sm:text-base shadow-md shadow-pink">Level 2</button>
              <button class="flex-1 py-2 px-2 bg-pink-900 hover:bg-blue-pink-900 text-white rounded-lg transition-all font-medium text-sm sm:text-base shadow-md shadow-pink">Level 3</button>
            </div>
          </div>
        </div>
      
        <!-- Carte 2 -->
        <div class="w-full max-w-sm mx-auto h-full flex flex-col rounded-lg transform transition-transform hover:scale-105">
          <div class="relative top-6 pt-6 px-8 z-10">
            <img class="w-[10rem] h-[10rem] mx-auto object-cover rounded-full outline outline-[0.5rem] outline-pink-900 shadow-lg shadow-pink-100" 
                 src="images/INF.jpg" 
                 alt="Spaceship Selection" />
          </div>
          <div class="w-full flex flex-col gap-4 rounded-xl bg-white backdrop-blur-sm pt-16 px-6 pb-6 border border-pink-900">
            <h2 class="text-center text-pink-700 sm:text-xl text-2xl font-display">Culture Générale</h2>
            <div class="w-full flex justify-between gap-2 pt-2 pb-4">
                <button class="flex-1 py-2 px-2 bg-pink-900 hover:bg-pink-900 text-white rounded-lg transition-all font-medium text-sm sm:text-base shadow-md shadow-pink">Level 1</button>
                <button class="flex-1 py-2 px-2 bg-pink-900 hover:bg-pink-900 text-white rounded-lg transition-all font-medium text-sm sm:text-base shadow-md shadow-pink">Level 2</button>
                <button class="flex-1 py-2 px-2 bg-pink-900 hover:bg-blue-pink-900 text-white rounded-lg transition-all font-medium text-sm sm:text-base shadow-md shadow-pink">Level 3</button>
             </div>
          </div>
        </div>
      
        <!-- Carte 3 -->
        <div class="w-full max-w-sm mx-auto h-full flex flex-col rounded-lg transform transition-transform hover:scale-105">
          <div class="relative top-6 pt-6 px-8 z-10">
            <img class="w-[10rem] h-[10rem] mx-auto object-cover rounded-full outline outline-[0.5rem] outline-pink-900 shadow-lg shadow-pink-100" 
                 src="images/SPORT.jpg" 
                 alt="Mission Type" />
          </div>
          <div class="w-full flex flex-col gap-4 rounded-xl bg-white backdrop-blur-sm pt-16 px-6 pb-6 border border-pink-900">
            <h2 class="text-center text-pink-700 sm:text-xl text-2xl font-display">Culture Générale</h2>
            <div class="w-full flex justify-between gap-2 pt-2 pb-4">
                <button class="flex-1 py-2 px-2 bg-pink-900 hover:bg-pink-900 text-white rounded-lg transition-all font-medium text-sm sm:text-base shadow-md shadow-pink">Level 1</button>
                <button class="flex-1 py-2 px-2 bg-pink-900 hover:bg-pink-900 text-white rounded-lg transition-all font-medium text-sm sm:text-base shadow-md shadow-pink">Level 2</button>
                <button class="flex-1 py-2 px-2 bg-pink-900 hover:bg-blue-pink-900 text-white rounded-lg transition-all font-medium text-sm sm:text-base shadow-md shadow-pink">Level 3</button> </div>
          </div>
        </div>
      </div>
      